.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}
.scroll-bar{
    -fx-background-color: transparent;
}
.scroll-bar > .thumb {
    -fx-background-color: transparent;
}
