.text-field{
    -fx-font-family: "Times New Roman"; -fx-background-color: transparent; -fx-border-color: #754d34; -fx-border-width: 0px 0px 2px 0px; -fx-border-radius: 10; -fx-background-radius: 10;
}
.text-field:hover{
    -fx-font-family: "Times New Roman"; -fx-background-color: transparent; -fx-border-color: #3f251f; -fx-border-width: 0px 0px 2px 0px; -fx-border-radius: 20; -fx-background-radius: 20;
}


